@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
/*Couleurs*/
$greyButtonColorOne: rgba(237, 222, 191, 0.4);
$greyButtonColorTwo: rgba(25, 88, 125, 0.4);
$white: white;
/*Font-family*/
$rajdhani: 'Rajdhani', sans-serif;
$fontSizeH1: 36px;