@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #000000;
}
.home {
    background: url(../Illustrations/Bathome1.png) no-repeat top center/cover;
    width: 100%;
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*les couleurs*/
$white: #ffffff;
$greyButtonColorOne: rgba(237, 222, 191, 0.4);
$greyButtonColorTwo: rgba(25, 88, 125, 0.4);
$redButtonColor: rgba(137, 0, 8, 0.6);
$greyButtonColorHoverOne: rgba(237, 222, 191, 1);
$greyButtonColorHoverTwo: rgba(25, 88, 125, 1);
$redButtonColorHover: rgba(137, 0, 8, 1);
/*bordure de la ligne*/
$lineDiscreteColor: rgba(188, 187, 189, 0.2);
$bordureWidthLeftHead: 0.2rem;
$bordureWidthRightHead: 0.2rem;
$bordureWidthLeftHero: 0.2rem;
$bordureWidthRightHero: 0.2rem;
$bordureStyle: solid;
/*bordure en haut*/
$bordureHaut: 132px;
/*bordure largeur*/
$bordureLargeur: 102px;
/* largeur du hero class */
$heightHero: 110vh;
/*Les font*/
$rajdhani: 'Rajdhani', sans-serif;
$spaceGrotesk: 'Space Grotesk', sans-serif;
$fontSizeH1: 36px;
$fontSizeButton: 20px;
$fontSizeTitleH2: 12px;
$fontSizeSubTitle: 22px;
$fontSizeTextFirst: 18px;
$fontSizeTextSeconds: 12px;

.home .menu{
    width: 86%;
    border-style: $bordureStyle;
    border-left-width: $bordureWidthLeftHead;
    border-right-width: $bordureWidthRightHead;
    border-color: $lineDiscreteColor;
    border-top: none;
    height: $bordureHaut;
}
.home .menu h1{
    color: $white;
    font-family: $rajdhani;
    font-size: $fontSizeH1;
    text-decoration: underline;
    text-transform: capitalize;
    cursor: pointer;
}
.home .hero{
    width: 86%;
    height: $heightHero;
    border-style: $bordureStyle;
    border-color: $lineDiscreteColor;
    border-left-width: $bordureWidthLeftHero;
    border-right-width: $bordureWidthRightHero;
    border-bottom: none;
}
.home .hero article p{
    color: $white;
    font-family: $spaceGrotesk;
    font-size: $fontSizeTextFirst;
}
.home .hero article h1{
    color: $white;
    font-family: $spaceGrotesk;
    font-size: $fontSizeH1;
}
/*variable de background-gradient*/
$firstGradient: $greyButtonColorOne, $greyButtonColorTwo;
$secondGradient: $greyButtonColorOne, $redButtonColor;
$firstGradientHover: $greyButtonColorHoverOne, $greyButtonColorHoverTwo;
$secondGradientHover: $greyButtonColorHoverOne, $redButtonColorHover;
/*Button custom*/
.home .hero div.contenu-bouton .bouton{
    padding: 1rem 2rem;
    font-family: $rajdhani;
    font-size: $fontSizeButton;
    cursor: pointer;
    border: none;
    background: linear-gradient(.25turn, $firstGradient, $secondGradient);
    color: $white;
    transition: background .3s ease-in-out;
    &:hover{
        background: linear-gradient(.25turn, $firstGradientHover, $secondGradientHover);
    }
}
/*Responsive*/


@media screen and (max-width: 378px){
    .home{
        background:url(../Illustrations/Bathome1.png) no-repeat center center/contain;
    }
}